body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(227,227,255,1) 100%);
    color: #4c00a0;
}
.acc-title {
    width: 15%;
}
.acc-container {
    width: 20%;
}
.acc-container:hover {
    color: #0051ff;
    transition: all linear .4s;
}
.acc-container, .acc-title, .item-container {
    margin: .5em auto;
}
.item-icon {
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: all linear .5s;
}
.acc-container:hover .item-icon {
    opacity: 1;
    transition: all linear .5s;
}
input {
    display: none;
}
img {
    width: 150px;
    height: 150px;
}

.item-content {
    max-height: 0;
    overflow: hidden;
    transition: all .2s;
}

.item-container {
    border-top: 0.1rem solid #4c00a0;
}

.item-container:hover .item-content{
    max-height: 100vh;
    transition: all linear .6s;
}

input:checked~.item-content {
    max-height: 100vh;
    transition: all linear .6s;
}

.acc-input:checked~.item-icon{
    transform: rotate(45deg)
   } 

.item-container:hover .item-icon{
    transform: rotate(45deg)
   }